@model Slider

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Slider</h4>


                <form asp-action="Create" asp-controller="Category" method="post" class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Title</label>
                        <input name="name" asp-for="Title" class="form-control" placeholder="Title" />
                    </div>
                    <span asp-validation-for="Title" class="text-danger"></span>

     


             
                    <div class="form-group">
                        <label asp-for="Subtitle">Subtitle</label>
                        <input name="Subtitle" asp-for="Subtitle" class="form-control" placeholder="Subtitle" />
                    </div>
                    <span asp-validation-for="Subtitle" class="text-danger"></span>

   



                    <div class="form-group">
                        <label asp-for="Order">Order</label>
                        <input name="Order" asp-for="Order" class="form-control" placeholder="Order" />
                    </div>
                    <span asp-validation-for="Order" class="text-danger"></span>


                    <div class="form-group">
                        <label asp-for="Image">Image</label>
                        <input name="Image" asp-for="Image" class="form-control" placeholder="Image" />
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
            


                    <div class="form-group">
                        <label asp-for="Desc">Description</label>
                        <input name="Image" asp-for="Desc" class="form-control" placeholder="Desc" />
                    </div>
                    <span asp-validation-for="Desc" class="text-danger"></span>

                </form>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button type="button" class="btn btn-light">Cancel</button>
            </div>
        </div>
    </div>
</div>
